#
# WakeUpManager main .gitignore
#

#
# Ignore all debian stuff which is handled in a separe GIT
debian/*

#
# Ignore all supplemental stuff which is handled different
supplemental/*

#
# Ignore all tex/ stuff which is handled in a separe GIT
tex/*
