<p>
 Wake Up Manager&copy; is software system, which offers the possibility to boot
 and shutdown all staff and pool workstation at the Institute of Mathematics.
</p>

<p>
 The system has been build as the bachelor thesis of Maximilian Wilhelm &lt;max@rfc2324.org&gt;.
</p>
