<p>
 WakeUpManager&copy; is software system, which offers the possibility to boot
 and shutdown all staff and pool workstation at the Institute of Mathematics.
</p>

<p>
 The system has been build as part of the bachelor thesis of Maximilian Wilhelm &lt;max@rfc2324.org&gt;.
</p>


<p>
 As a prototype, the WakeUpManager may contain bugs.
 In case you spot one, please write a mail to the author.
</p>
