
	 <p>
	  Wake Up Manager offers the functionality to boot a host on demand
	  regardless what has been configured.
	 </p>

	 <p>
	  To boot up a host over the network now choose the desired host from the list
	  and click the &quot;Boot host&quot; button.
	 </p>

	<!-- If the user has the right to boot at least on host //-->
	<TMPL_IF host_loop>
	 <form name="boot_host" action="index.pl" method="POST">
	  <input type="hidden" name="page" value="BootHost">

	  <p>
	   Choose the host to be started and click on the &quot;Boot host&quot; button.
	  </p>

	  <div class="box">
	   <div class="box_head">&raquo; Boot host</div>
	   <div class="box_content">

	    <div id='host_select'>
	     <select name="host_id">
	      <TMPL_LOOP NAME="host_loop"><option value="<TMPL_VAR NAME=key>"><TMPL_VAR NAME=val></option>
	      </TMPL_LOOP>
	     </select>
	    </div>

	    <!-- Nur Rechner der Gruppe <Hostgroup> anzeigen. //-->
	    <TMPL_IF hostgroup_loop>
	     <p class='hostgroup_list'>
	      Only show hosts of group

	      <select name="group" onChange="updateHostlist();">
	       <TMPL_LOOP NAME="hostgroup_loop"><option value="<TMPL_VAR NAME=key>"><TMPL_VAR NAME=val></option>
	       </TMPL_LOOP>
	      </select>
	     </p>
	    </TMPL_IF>

	    <input type="submit" value='Boot host' onmousedown="document.boot_host.action = 'javascript:bootHost();'">
	   </div>
	  </div>
	  <!-- box end //-->
	 </form>

	 <div id='result'>
	  <TMPL_IF result>
	   <div class="box">
	    <div class="box_head">&raquo; Ergebnis</div>
	    <div class="box_content">
	     <TMPL_VAR result>
	    </div>
	   </div>
	  </TMPL_IF>
	 </div>

	<!-- Ok, the user does NOT have the right to boot any host //-->
	<TMPL_ELSE>
	 <p>
	  <i>You are not allowed to boot a host.</i>
	 </p>
	</TMPL_IF>
