	 <p>
	  It's possible to deactivate the time based control of Wake Up Manager for a host. <br>
	  This may be used to deactivate your PC while in vacation, to prevent it from beeing booted.
	 </p>

	<!-- If the user has the right to boot at least on host //-->
	<TMPL_IF host_loop>
	 <form name="host_state" action="index.pl" method="POST">

	  <p>
	   To view or update the activation state of a host choose the desired host from the list
	   and click on the &quot;Show state&quot; button.
	  </p>

	  <p>
	   After the state has been show, you are able to change the state and save your choice
	   by clicking on the &quot;Save state&quot; button.
	  </p>

	  <div class="box">
	   <input type="hidden" name="page" value="HostState">
	   <div class="box_head">&raquo; Show host activation state</div>
	   <div class="box_content">
	    <TMPL_INCLUDE NAME="host_select.tmpl">

	    <input type="submit" value='Show state' onmousedown="document.host_state.action = 'javascript:loadHostState();'">
	   </div>
	  </div>
	  <!-- box end //-->
	 </form>

	 <TMPL_INCLUDE NAME="result_box_complete.tmpl">

	<!-- Ok, the user does NOT have the right to boot any host //-->
	<TMPL_ELSE>
	 <p>
	  <i>You are not allowed to show the configuration of a host.</i>
	 </p>
	</TMPL_IF>
