	 <p>
	  Wake Up Manager offers the possibilty to boot and shutdown hosts based on a timetable.
	 </p>

	<!-- Handle errors first //-->
	<TMPL_IF error>
	 <p class="error">

	 <TMPL_IF no_host_id>
	   Error: Parameter 'host_id' missing.
	 </TMPL_IF>

	 <TMPL_IF user_not_allowed_for_host>
	   You are not allowed to update the timetable of host <TMPL_VAR hostname>.
	 </TMPL_IF>

	 <TMPL_IF cant_read_timetable>
	  Error: Could not load timetable of host <TMPL_VAR hostname>.
	 </TMPL_IF>

	 </p>
	<TMPL_ELSE>


	<!-- If the user has the right to read the config of least on host //-->
	<TMPL_IF host_loop>
	 <form name="show_config_form" action="index.pl" method="GET">

	  <p>
	   Choose the host, which timetable should be shown and updated.
	  </p>

	  <div class="box">
	   <input type="hidden" name="page" value="UpdateTimetable">
	   <input type="hidden" name="submitted" value="0">
	   <div class="box_head">&raquo; Show timetable</div>
	   <div class="box_content">
	    <TMPL_INCLUDE NAME="host_select.tmpl">

	    <input type="submit" value='Show timetable'>
	   </div>
	  </div>
	  <!-- box end //-->
	 </form>
	<TMPL_ELSE> <!-- hostgroup_loop //-->
	 <TMPL_UNLESS timetable>
	  <p><i>You are not allowed to update the timetable of a host.</i></p>
	 </TMPL_UNLESS>
	</TMPL_IF> <!-- host_loop //-->


	 <!-- If the user has the right to read the config of least on host //-->
	 <TMPL_IF timetable>
	 <form name="update_timetable_form" action="index.pl" method="POST">
	 <div class="box">
<TMPL_VAR hidden_form_data>
	  <input type="hidden" name="page" value="UpdateTimetable">
	  <div class="box_head">&raquo; Timetable of host <TMPL_VAR hostname></div>
	  <div class="box_content">
<TMPL_VAR timetable>
	   <input type="submit" value="Update timetable">
	  </div>
	 </div>
	 </form>

	  <TMPL_INCLUDE NAME="result_box_complete.tmpl">
	 </TMPL_IF> <!-- timetable //-->
	</TMPL_IF> <!-- !error //-->
