<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
	 <meta name="Author" content="Maximilian Wilhelm">
	 <meta name="Date" content="June 2008">
	 <meta name="Copyright" content="Maximilian Wilhelm, 2008">
	 <meta name="Generator" content="Vi IMproved, my fingers and some perl magic">

	 <!-- This is dynamic stuff. Don't cache. Nowhere. //-->
	 <meta http-equiv="cache-control" content="no-cache">
	 <meta http-equiv="pragma" content="no-cache">

	 <link rel=stylesheet type="Text/CSS" href="/ui/styles.css">

	<script src="/ui/inc/common.js" type="text/javascript"></script>

<TMPL_IF header_opt><TMPL_VAR header_opt></TMPL_IF>

	 <title><TMPL_VAR title></title>
	</head>

	<body>
	 <div class='header'>
	  <h1><TMPL_VAR h1></h1>
	  <TMPL_IF h2><h2><TMPL_VAR h2></h2></TMPL_IF>
	  <br style='clear: both;'>
	 </div>

	 <div class=menu>
<TMPL_VAR menu>
	 </div>

	 <div class=content>
<TMPL_VAR content>
	 </div>


	 <div class=awards>
	  &copy; 2008 Maximilian Wilhelm
	 </div>

	</body>
</html>
