<p>
 Der WakeUpManager&copy; ist ein Softwaresystem, dass es erm&ouml;glicht,
 s&auml;mtliche Arbeitsplatz- und Poolrechner des Instituts f&uuml;r Mathematik
 zeitgesteuert hoch- und herunterzufahren.
</p>

<p>
 Das System wurde als Studienarbeit von Maximilian Wilhelm &lt;max@rfc2324.org&gt; angefertigt.
</p>

<p>
 Da der WakeUpManager ein Prototyp ist, ist es m&ouml;glich, dass das System noch Fehler enth&auml;t.
 Sollte ein Fehler auftreten, w&uuml;rde sich der Autor &uuml;ber eine kurze Benachrichtung per Mail freuen.
</p>
