<p>
 Der Wake Up Manager&copy; ist ein Softwaresystem, das es erm&ouml;glicht,
 s&auml;mtliche Arbeitsplatz- und Poolrechner des Instituts f&uuml;r Mathematik
 zeitgesteuert hoch- und herunterzufahren.
</p>

<p>
 Das System wurde als Studienarbeit von Maximilian Wilhelm &lt;max@rfc2324.org&gt; angefertigt.
</p>
