	 <p>
	  Der WakeUpManager bietet die M&ouml;glichkeit, einen Rechner bei Bedarf
	  unabh&auml;ngig von konfigurierten Zeiten zu starten.
	 </p>

	<!-- If the user has the right to boot at least on host //-->
	<TMPL_IF host_loop>
	 <form name="boot_host" action="index.pl" method="POST">

	  <p>
	   Um jetzt einen Rechner &uuml;ber das Netzwerk zu starten, w&auml;hlen Sie
	   den gew&uuml;nschten PC aus der Liste aus und klicken Sie auf "Rechner starten."
	  </p>

	  <div class="box">
	   <input type="hidden" name="page" value="BootHost">
	   <div class="box_head">&raquo; Rechner starten</div>
	   <div class="box_content">
	    <TMPL_INCLUDE NAME="host_select.tmpl">

	    <input type="submit" value='Rechner starten' onmousedown="document.boot_host.action = 'javascript:bootHost();'">
	   </div>
	  </div>
	  <!-- box end //-->
	 </form>

	<TMPL_INCLUDE NAME="result_box_complete.tmpl">

	<!-- Ok, the user does NOT have the right to boot any host //-->
	<TMPL_ELSE>
	 <p>
	  <i>Sie haben nicht das Recht einen Rechner zu starten.</i>
	 </p>
	</TMPL_IF>
