	 <p>
	  Der WakeUpManager bietet die M&ouml;glichkeit, einen Rechner bei Bedarf
	  unabh&auml;ngig von konfigurierten Zeiten zu starten.
	 </p>

	 <p>
	  Um jetzt einen Rechner &uuml;ber das Netzwerk zu starten, w&auml;hlen Sie
	  den gew&uuml;nschten PC aus der Liste aus und klicken Sie auf "Rechner starten."
	 </p>


	<!-- If the user has the right to boot at least on host //-->
	<TMPL_IF host_loop>
	 <form name="boot_host" action="index.pl" method="POST">
	  <input type="hidden" name="page" value="BootHost">

	  <p>
	   W&auml;hlen Sie den Rechner, der gestartet werden soll und klicken Sie auf &quot;Rechner starten&quot;.
	  </p>

	  <div class="box">
	   <div class="box_head">&raquo; Rechner starten</div>
	   <div class="box_content">
	    <TMPL_INCLUDE NAME="host_select.tmpl">

	    <input type="submit" value='Rechner starten' onmousedown="document.boot_host.action = 'javascript:bootHost();'">
	   </div>
	  </div>
	  <!-- box end //-->
	 </form>

	 <div id='result'>
	  <TMPL_IF result>
	   <div class="box">
	    <div class="box_head">&raquo; Ergebnis</div>
	    <div class="box_content">
	     <TMPL_VAR result>
	    </div>
	   </div>
	  </TMPL_IF>
	 </div>

	<!-- Ok, the user does NOT have the right to boot any host //-->
	<TMPL_ELSE>
	 <p>
	  <i>Sie haben nicht das Recht einen Rechner zu starten.</i>
	 </p>
	</TMPL_IF>
