	 <p>
	  Der WakeUpManager bietet die M&ouml;glichkeit, die automatisch Steuerung f&uuml;r einen Rechner zu (de)aktivieren.
	 </p>

	 <p>
	  Um jetzt die Zeitsteuerung f&uuml;r einen Rechner zu (de)aktivieren, w&auml;hlen Sie
	  den gew&uuml;nschten PC aus der Liste aus und klicken Sie auf &quot;Status laden&quot;.
	 </p>

	 <p>
	  Nachdem der Status der Zeitsteuerung des Rechners angezeigt wird, k&ouml;nnen Sie diesen
	  per Klick auf den gew&uuml;nschten Zustand &auml;ndern und mittels &quot;Status speichern&quot; sichern.
	 </p>

	<!-- If the user has the right to boot at least on host //-->
	<TMPL_IF host_loop>
	 <form name="host_state" action="" method="POST">

	  <p>
	   W&auml;hlen Sie den Rechner, dessen Steuerungsstatus angezeigt werden soll und klicken Sie auf &quot;Status laden&quot;.
	  </p>

	  <div class="box">
	   <div class="box_head">&raquo; Rechnerstatus anzeigen</div>
	   <div class="box_content">

	    <div id='host_select'>
	     <select name="host">
	      <TMPL_LOOP NAME="host_loop"><option value="<TMPL_VAR NAME=key>"><TMPL_VAR NAME=val></option>
	      </TMPL_LOOP>
	     </select>
	    </div>

	    <!-- Nur Rechner der Gruppe <Hostgroup> anzeigen. //-->
	    <TMPL_IF hostgroup_loop>
	     <p class='hostgroup_list'>
	      Nur Rechner der Gruppe

	      <select name="group" onChange="updateHostlist();">
	       <TMPL_LOOP NAME="hostgroup_loop"><option value="<TMPL_VAR NAME=key>"><TMPL_VAR NAME=val></option>
	       </TMPL_LOOP>
	      </select>

	      anzeigen.
	     </p>
	    </TMPL_IF>

	    <input type="button" value='Status laden' onClick="loadHostState();">
	   </div>
	  </div>
	  <!-- box end //-->
	 </form>

	 <div id='result'>
	 </div>

	<!-- Ok, the user does NOT have the right to boot any host //-->
	<TMPL_ELSE>
	 <p>
	  <i>Sie haben nicht das Recht die Konfiguration eines Rechners anzuzeigen.</i>
	 </p>
	</TMPL_IF>
