	 <p>
	  Der WakeUpManager bietet die M&ouml;glichkeit, Rechner zeitgesteuert herauf- und herunterzufahren.
	 </p>

	<!-- If the user has the right to read the config of least on host //-->
	<TMPL_IF host_loop>
	 <form name="show_config_form" action="" method="POST">
	  <p>
	   Um sich die Konfiguration eines Rechners anzeigen zu lassen, w&auml;hlen Sie
	   den gew&uuml;nschten PC aus der Liste aus und klicken Sie auf "Konfiguration anziegen".
	  </p>

	  <div class="box">
	   <div class="box_head">&raquo; Zeitplan anzeigen</div>
	   <div class="box_content">
	    <TMPL_INCLUDE NAME="host_select.tmpl">

	    <input type="button" value='Zeitplan anzeigen' onClick="showConfig();">
	   </div>
	  </div>
	  <!-- box end //-->
	 </form>

	 <div id='result'>
	 </div>

	<!-- Ok, the user does NOT have the right to read the config of any host //-->
	<TMPL_ELSE>
	 <p>
	  <i>Sie haben nicht das Recht den Zeitplan eines Rechners einzusehen.</i>
	 </p>
	</TMPL_IF>
