	 <p>
	  Der WakeUpManager bietet die M&ouml;glichkeit, Rechner zeitgesteuert herauf- und herunterzufahren.
	 </p>

	<!-- Handle errors first //-->
	<TMPL_IF error>
	 <p class="error">

	 <TMPL_IF no_host_id>
	   Fehler: Parameter 'host_id' nicht angegeben.
	 </TMPL_IF>

	 <TMPL_IF user_not_allowed_for_host>
	   Sie haben nicht das Recht den Zeitplan des Rechners <TMPL_VAR hostname> zu &auml;ndern.
	 </TMPL_IF>

	 <TMPL_IF cant_read_timetable>
	  Fehler: Der Zeitplan des Rechner <TMPL_VAR hostname> konnte nicht geladen werden.
	 </TMPL_IF>

	 </p>
	<TMPL_ELSE>


	<!-- If the user has the right to read the config of least on host //-->
	<TMPL_IF host_loop>
	 <form name="show_config_form" action="index.pl" method="GET">
	  <input type="hidden" name="page" value="UpdateTimetable">
	  <input type="hidden" name="submitted" value="0">

	  <p>
	   W&auml;hlen Sie den Rechner, dessen Zeitplan sie &auml;ndern m&ouml;chten.
	  </p>

	  <div class="box">
	   <div class="box_head">&raquo; Zeitplan laden</div>
	   <div class="box_content">

	    <div id='host_select'>
	     <select name="host_id">
	      <TMPL_LOOP NAME="host_loop"><option value="<TMPL_VAR NAME=key>"><TMPL_VAR NAME=val></option>
	      </TMPL_LOOP>
	     </select>
	    </div>

	    <!-- Nur Rechner der Gruppe <Hostgroup> anzeigen. //-->
	    <TMPL_IF hostgroup_loop>
	     <p class='hostgroup_list'>
	      Nur Rechner der Gruppe

	      <select name="group" onChange="updateHostlist();">
	       <TMPL_LOOP NAME="hostgroup_loop"><option value="<TMPL_VAR NAME=key>"><TMPL_VAR NAME=val></option>
	       </TMPL_LOOP>
	      </select>

	      anzeigen.
	     </p>
	    </TMPL_IF>

	    <input type="submit" value='Zeitplan laden'>
	   </div>
	  </div>
	  <!-- box end //-->
	 </form>
	<TMPL_ELSE>
	 <TMPL_UNLESS timetable>
	  <p><i>Sie haben nicht das Recht den Zeitplan eines Rechners zu &auml;ndern</i></p>
	 </TMPL_UNLESS>
	</TMPL_IF>


	 <!-- If the user has the right to read the config of least on host //-->
	 <TMPL_IF timetable>
	 <form name="update_timetable_form" action="index.pl" MEthod="POST">
	  <input type="hidden" name="page" value="UpdateTimetable">
<TMPL_VAR hidden_form_data>
	 <div class="box">
	  <div class="box_head">&raquo; Zeitplan f&uuml;r Rechner <TMPL_VAR hostname></div>
	  <div class="box_content">
<TMPL_VAR timetable>

	   <input type="submit" value='Zeitplan speichern'>
	  </div>
	 </div>
	 </form>

	  <div id='result'>
	   <TMPL_IF result>
	    <div class="box">
	     <div class="box_head">&raquo; Ergebnis</div>
	      <div class="box_content">
	       <TMPL_VAR result>
	      </div>
	     </div>
	   </TMPL_IF>
	  </div>
	 </TMPL_IF>

	</TMPL_IF>
